@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  overflow: hidden;
  background: #000000;
  color: white;
  font-family: sans-serif;
}

.gradient {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("/images/bg.png"), linear-gradient(-45deg, rgba(2, 0, 36, 1) 0%, rgba(30, 30, 217, 1) 40%, rgba(0, 212, 255, 1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* linear-gradient(-45deg, rgb(255, 0, 0), rgb(255, 123, 0), rgb(255, 0, 204), rgb(255, 0, 102)) */

.drop-btn:focus>.drop-down {
  z-index: 99 !important;
  opacity: 1 !important;
}

.scroll-bar::-webkit-scrollbar {
  width: 3px;
}

.scroll-bar::-webkit-scrollbar-track {
  opacity: 0;
}

.scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid rgb(26, 26, 26);
}